name: CI Pipeline

on:
  push:
    branches: [ "main", "release/*" ]
  pull_request:
    branches: [ "main", "release/*" ]

env:
  NODE_VERSION: 16.x

jobs:
  build-lambda:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: lambda/product-handler

    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: 'npm'
        
      - run: npm run compile

      - run: npm run test
  
