name: PR Pipeline

on:
  pull_request:

env:
  NODE_VERSION: 16.x

jobs:
  # 1 => Build and test the source codes
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: lambda/product-handler
    steps:
      - name: Checkout latest code
        uses: actions/checkout@v3

      - name: Setup Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: 'npm'
          cache-dependency-path: 'lambda/product-handler/package-lock.json'
        
      - name: Install dependencies
        run: npm ci
      
      - name: Compile code
        run: npm run build:prd
      
      - name: Run tests
        run: npm run test

      - name: Zip build files
        run: zip -r build.zip ./build

      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: lambda-code
          path: lambda/product-handler/build.zip
          retention-days: 5

  
  # 2 => Deploy the updates
  validate-deploy:
    runs-on: ubuntu-latest
    needs: build
    defaults:
      run:
        working-directory: cdk
    steps:
      - name: Checkout latest code
        uses: actions/checkout@v3

      - name: Download lambda code from ci
        uses: actions/download-artifact@v3
        with:
          name: lambda-code
          path: lambda/product-handler

      - name: Unzip build files
        run: cd ../lambda/product-handler && unzip build.zip

      - name: Use Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: 'npm'
          cache-dependency-path: 'cdk/package-lock.json'
        
      - name: Install dependencies
        run: npm ci
      
      - name: Synthesize CloudFormation template
        run: npm run cdk synth
